@media screen and (max-width: 560px) {
 section.container{
    display: flex;
    align-items: center;
    flex-direction: column;    
 }

 .home {
    margin: 10px -33px 0px -37px;
 }

 .login {
    width: 80vw;
    height: 52vh;
 }

 .fields__recovery {
   margin-bottom: 10%;
}
}

@media screen and (min-width: 620px) {
   #field_title{
      font-size: 20px;
      margin-bottom: 20px;
   }

   .fields__textbox{
      height: 150px;
   }

   .fields__textbox > input {
      height: 60px;
   }

   .fields__recovery{
      margin-bottom: 20px;
   }
}