canvas{
  display: block;
}

.home__data {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -60px;
}

/*==============    ANIMATION NAME     ============*/
.text-focus-in{-webkit-animation:text-focus-in 2s cubic-bezier(.55,.085,.68,.53) 1.3 backwards;animation:text-focus-in 2s cubic-bezier(.55,.085,.68,.53) 1.3 backwards}

 @-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}


 

/* ---- particles.js container ---- */
#pre-loader {
    background: #000 url(../img/Chunk-9.1s-214px.gif) no-repeat center center;
    height: 100vh;
    width: 1350px;
    position: absolute;
    z-index: 1000;
	image-rendering: auto;
}

#tsparticles{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-image: url('');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

@media screen and (max-width: 570px) {
	.nav {
		background-color: var(--body-color);
	
	}

	.menu__container.bd-grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.justify-content-between {
		margin-top: 60px !important;
		align-items: center;
		flex-direction: column;
	  }
	  .justify-content-between img {
		width: 100vw;
	  }

	  .footer__container.bd-grid.d-flex.justify-content-around {
		flex-direction: column;
		align-items: center;
	}

	.footer__content {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		display: flex;
	}

	button.btn.btn-primary.button.collapsed{
		margin-right: 0;	
  }
}

p#onOff {
    display: block;
    position: absolute;
    left: 36px;
    top: 163px;
}