canvas{
  display: block;
}

.home__data {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -60px;
}


/* ---- particles.js container ---- */

#tsparticles{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-image: url('');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

@media screen and (max-width: 570px) {
	.nav {
		background-color: var(--body-color);
	
	}

	.menu__container.bd-grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.justify-content-between {
		margin-top: 60px !important;
		align-items: center;
		flex-direction: column;
	  }
	  .justify-content-between img {
		width: 100vw;
	  }

	  .footer__container.bd-grid.d-flex.justify-content-around {
		flex-direction: column;
		align-items: center;
	}

	.footer__content {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		display: flex;
	}

	
  }
