canvas{
  display: block;
}

.home__data {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -60px;
}


/* ---- particles.js container ---- */

#tsparticles{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-image: url('');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
