/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #719BE8;
  --first-color-alt: #048654;
  --title-color: #fa1818;
  --text-color: #f8f8f8;
  --text-color-light: #f80e0e;
  --body-color: #000705;
  --container-color: #4b4b4d;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--container-color) !important;
  color: var(--body-color);
  line-height: 1.6;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
}

.fa-brands, .fab {
  font-size: 30px;
  color: var(--text-color);
}

.service-box i{
  font-size: 100px;
  color: var(--text-color);
  margin-bottom: 40px;
  transition: .5s ease-in;
}

.service-box {
  display: flex;
  flex-direction: column;
}

.service-box i, .service-box h4, .service-box p{
  text-align: center;
}

.service-box h4 {
  color: var(--text-color);
  margin-bottom: 15px;
}

.service-box p{
  font-size: 20px;
  color: var(--text-color);
}

.service-box > i:hover{
  color: var(--title-color);
}

.GMPS {
  color: var(--title-color);
}

.footer__container a {
  text-decoration: none;
}

.footer__container span {
  color: var(--title-color);
}

.Whatsapplink {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 1rem;
  bottom: 10px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(6,156,84,.5);
  z-index: var(--z-tooltip);
  transition: .3s;
  color: var(--body-color);
  text-decoration: none;
}

.Whatsapplink:hover {
  width: 100px;
  height: 100px;
  box-shadow: 0 20px 20px rgba(250, 4, 4, 0.1);
}

.Whatsapplink i:hover{
  color: var(--title-color);
  font-size: 80px;
}

.scrollwhats{
  position: fixed;
  width: 40px;
  height: 40px;
  right: 1rem;
  bottom: -20%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(6,156,84,.5);
  z-index: var(--z-tooltip);
  transition: .3s;
  visibility: hidden;
  color: var(--body-color);
}

.call-whats:hover {
  background-color: var(--first-color-alt);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-whats {
  visibility: visible;
  bottom: 17.9rem;
  font-size: 1.5rem;
  color: #FFFFFF;
  transition: .5s;
}
.slide-in-blurred-right{-webkit-animation:slide-in-blurred-right .6s cubic-bezier(.23,1.000,.32,1.000) both;animation:slide-in-blurred-right .6s cubic-bezier(.23,1.000,.32,1.000) both}
.pulsate-bck{-webkit-animation:pulsate-bck 1s ease-in-out infinite both;animation:pulsate-bck 1s ease-in-out infinite both}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-2 6:25:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(.9);transform:scale(.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(.9);transform:scale(.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-2 6:29:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes slide-in-blurred-right{0%{-webkit-transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform:translateX(1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-right{0%{-webkit-transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform:translateX(1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}

 .pGif {
	width: 128px;
	height: 73px;
	margin-left: 35px;
}

.gif {
	width: 128px;
	height: 128px;
	margin-left: 25px;
}

.gEmail {
	width: 128px;
	margin-left: 40px;
}

/*========== CLASS CSS ==========*/


div#services-area\ menu__content {
  margin-top: 104px;
}

div.services-container > .row {
  margin-bottom: 15px;
}

.gps-container > .row {
  margin-bottom: 43px;
}

.card-title {
  font-size: 12pt;
}

.card-text{
  color: var(--body-color);
  font-size: 9pt;
}

.carousel-dark .carousel-caption {
  color: var(--text-color) !important;
  margin-bottom: 100px;
  font-size: 20pt;
  background-color: rgba(0 0 0 / 40%);
  display: flex;
}

#mainSlider .carousel-indicators .active {
  background-color: var(--title-color);
}

.carousel-dark .carousel-caption a{
  text-decoration: none;
  font-size: 20pt;
  color: var(--title-color);
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
}

.carousel-dark .carousel-caption a:hover{
  text-decoration: none;
  color: var(--text-color) ;
  background-color: transparent;
  border-color: var(--title-color);

}

.carousel-caption h4 {
  align-items: center;
  justify-content: center;
}

.carousel-item {
  width: 100vw;
  height: 100vh;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-top: var(--mb-5);
  width: 100%;
  margin-bottom: 190px;
}

.contact-box i {
  font-size: 45px;
  text-align: center;
  margin-right: 30px;
  color: var(--title-color);
}

.contact-box i:hover {
  color: var(--first-color);
  box-shadow: 0 5px 1px rgba(226, 5, 5, 0.5);;
}

#gps > .section-title {
  margin-bottom: 95px;
}

#contato > .section-title {
  margin-bottom: 122px;
}

#services-area > .section-title {
  margin-bottom: 90px;
}

#frota > .section-title {
  margin-bottom: 54px;
}

.row {
  margin-bottom: 120px;
}

.contact-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
 
}

.section-subtitle{
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--container-color);
}

/*========== NAV ==========*/
.nav{
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
}



@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item{
  margin-bottom: var(--mb-2);
}

.nav__link, .nav__logo, .nav__toggle{
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover{
  color: var(--title-color);
}

.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: var(--body-color);
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
  margin-bottom: 49px;
}

/* Show menu */
.show-menu{
  top: var(--header-height);
}

/* Active menu */
.active-link{
  color: var(--title-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(6,156,84,.5);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .3s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--first-color-alt);
}

.scrolltop__icon{
  font-size: 1.8rem;
  color: #FFFFFF;
}

/* Show scrolltop */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

.whats-scroll{
  visibility: hidden;
  bottom: 1.5rem;
}

/*========== HOME ==========*/

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #03f5a0 !important;
}

.home__container{
  height: calc(100vh - var(--header-height));
  align-content: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.home__img{
  width: 200px;
  margin-top: 100px;
  justify-self: center;
}

#far fa-calendar-alt{
  size: 7x;
}

/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
}

.button1{
	margin-right: 15px;
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
}

.button2{
 display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
  margin-left: 30px;
  margin: 10px;
}

.button3{
	margin: 20px;
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}
.button1:hover{
  background-color: var(--first-color-alt);
}
.button2:hover{
  background-color: var(--first-color-alt);
}
.button3:hover{
  background-color: var(--first-color-alt);
}

/*========== ABOUT ==========*/
.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: var(--mb-3);
}

.about__img{
  width: 280px;
  border-radius: .5rem;
  justify-self: center;
}

/*========== SERVICES ==========*/
.services__container{
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content{
  text-align: center;
}

.services__img{
  width: 64px;
  height: 64px;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
}

.services__title{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description{
  padding: 0 1.5rem;
}

/*========== MENU ==========*/
.menu__container{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.grid-4{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.menu__content{
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--container-color);
  border-radius: .5rem;
  border: #FFF;
  box-shadow: 1px 1px 12px #ff0000;
  color: var(--text-color);
}

.box-content:hover{
  box-shadow: 20px 10px 20px 0px #0847f5;
}

.owl-carousel .owl-item img{
  padding: 30px;
}



.menu__img{
  width: 100px;
  height: 90px;
  align-self: center;
  margin-bottom: var(--mb-2);
}

.menu__name, .menu__preci{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu__name{
  font-size: var(--normal-font-size);
}

.menu__detail, .menu__preci{
  font-size: var(--small-font-size);
}

.menu__detail{
  margin-bottom: var(--mb-1);
}

.menu__button{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}

/*========== APP ==========*/
.app__data{
  text-align: center;
}

.app__description{
  margin-bottom: var(--mb-5);
}

.app__stores{
  margin-bottom: var(--mb-4);
}

.app__store{
  width: 120px;
  margin: 0 var(--mb-1);
}

.app__img{
  width: 230px;
  justify-self: center;
}

/* ============  CSS REGRAS =================*/


div.card.h-100 > i {
  color: var(--text-color);
  border: solid 1px #444;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 50pt;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 89px;
  margin-top: -71px;
  background-color: var(--title-color);
}

.max-width {
  max-width: 1230px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -124px;
}

/*========== curriculo ==========*/
.curriculo__container{
  text-align: center;
}

.curriculo__description{
  margin-bottom: var(--mb-3);
}

/*========== CONTACT ==========*/
.contact__container{
  text-align: center;
}

.contact__description{
  margin-bottom: var(--mb-3);
}

/*========== FOOTER ==========*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description{
  display: block;
  font-size: var(--small-font-size);
  margin: .25rem 0 var(--mb-3);
}

.footer__social{
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}
.alink{
  color: #171ab1;
  text-decoration: underline;
}
.alink:hover{
  color: aqua;
}
.footer__title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link{
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover{
  color: var(--first-color);
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

.footer__content:nth-child(3){
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3.about-title {
  color: var(--title-color);
}

p {
  color: var(--text-color);
}

h3.ctt-title {
  color: var(--title-color);
}

/*========== MEDIA QUERIES ==========*/
@media screen and (max-width: 576px){
  .home__container,
  .about__container,
  .app__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .carousel-control-next, .carousel-control-prev {
    bottom: 50px !important;
    color: var(--title-color) !important;
}

  #frota > .section-title {
    margin-top: -39px;
}

  .carousel-indicators {
    top: 208px;    
}

.carousel-item {
  height: 57vh;
}

.carousel-caption.d-md-block {
    right: 15%;
    left: 15%;
    color: #fff;
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 78px;
    padding-top: 0px !important;
    position: absolute;  
    background-color: rgba(0 0 0 / 20%);
}

.carousel-caption h2 {
  font-size: 12pt !important;
}

.carousel-caption p {
  font-size: 12pt !important;
}

i.fa-solid.fa-bars {
  margin-top: 13px;
}

.carousel-caption a {
    font-size: 8pt !important;
    width: 119px !important;
    height: 31px !important;
    line-height: 22px;
    padding: 1px 9px !important;
    border: 3px solid var(--title-color) !important;
}

.row-cols-1>* {
  margin-bottom: 54px;
}

.col-md-6 {
  margin-bottom: 20px;
}

.gps-container > .row {
  margin-bottom: 0px;
}

.contact-container > .row {
  margin-bottom: 20px;
}

#gps > .section-title {
  margin-bottom: 59px;
}

.container > .section-title {
  margin-bottom: 59px;
}

.section-title {
    margin-bottom: 110px;
}

img.img_logo {
  width: 100px !important;  
  margin-top: -11px;
}

img.d-block.w-100 {
  margin-top: 3px !important;
}



  img.img_logo {
    margin-left: 9px;
    width: 136px;
}

  .about__data, .about__initial,
  .app__data, .app__initial,
  .contact__container, .contact__initial{
    text-align: initial;
  }

  .about__img, .app__img{
    width: 380px;
    order: -1;
  }

  .contact__container{
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button{
    justify-self: center;
  }

  i.fa-solid.fa-laptop {
    margin-left: 85px;
}

}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 2rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
  }
  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container{
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container{
    margin-top: var(--mb-6);
  }

  .menu__container{
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }

.grid-4{
  grid-template-columns: repeat(4, 210px);
  column-gap: 4rem;

}

  .menu__content{
    padding: 1.5rem;
  }
  .menu__img{
    width: 130px;
  }

  .app__store{
    margin: 0 var(--mb-1) 0 0;
  }

  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img{
    width: 500px;
  }

  .about__container,
  .app__container{
    column-gap: 7rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
}